.flex{
    display: flex;
    justify-content: center;
    background-color: #6ff283;
    padding: 1em;
}

.navLink{
    text-decoration: none;
    margin: 1em;
    font-family: 'Lacquer', sans-serif;
}